*{
    margin: 0;
    padding: 0;
    border: 0;
}
@keyframes hi{
    0% {opacity: 0;}
    10% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes logo{
    0% {opacity: 0;}
    100% {
        opacity: 1;
        transform: scale(-1,1);
    }
}
/* .wrapper{
    width: 100%;
    margin: 0 auto;
}  */
header{
    background: rgb(157, 2, 171);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}
header a.logo{
    animation: logo 7s linear 2s infinite alternate;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: url(../images/logo.jpg) center center/contain no-repeat;
}
header a.logo:hover{
    animation-play-state: paused;
}
.hidden{
    width: 90px;
    height: 100px;
    position: relative;
    overflow: hidden;
    padding-right: 40px;
  }
  #navbar .hidden ul {
    width: 100px;
    background-color: #f90;
    position: absolute;
    transition: 2s all;
    top: -135px;
    padding: 20px 10px 10px 10px;
  }
  #navbar, #navbar ul {
    list-style-type: none;
  }
  #navbar {
    height: 30px;
    padding-left: 25px;
    min-width: 470px;
  }
  #navbar li {
    float: left;
    position: relative;
    height: 100%;
    width: 110px;
    text-align: center;
  }
#navbar li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
  } 
#navbar li a:before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: yellow;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 2s all;
}
#navbar li:nth-child(1) a:hover:before,
#navbar li:nth-child(2) a:hover:before,
#navbar li:nth-child(4) a:hover:before{
    width: 100%;
}
  #navbar li:hover .hidden ul{ 
    top: -10px;
  }
  #navbar ul li:hover { background-color: #666; }


  /* burger */
  .burger {
    position: relative;
    display: none;
    background-color: #ffffff;
    width: 30px;
    height: 5px;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
  }
  
  .burger:before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: -10px;
  }
  
  .burger:after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    bottom: -10px;
  }

.box{
    margin-bottom: 50px;
}
.box .container{
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
}
.photo{
    /* display: none; */
    width: 600px;
    height: 400px;
    background: url(../images/photo.jpg) center center/cover no-repeat;
}
.information{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    /* width: 70%; */
}
.about_me{
    display: flex;
    padding: 15px 0;
    width: 100%; 
    margin: 0 auto;
    box-sizing: border-box;
}
.name1{
    display: none;
    border: 2px black solid;
    min-height: 50px;
    line-height: 50px;
    /* width: 100%; */
    /* margin: 0 auto; */
}
.name2{
    border: 2px black solid;
    min-height: 50px;
    line-height: 50px;
    /* margin: 0 auto; */
}
.name1 h2, .name2 h2{
    text-align: center;
}
.information .study{
    width: 60%;
    border: 2px black solid;
    margin-right: 15px;

}
.information .study p{
    font-family: "Pacifico";
    text-indent: 30px;
    font-size: 25px;
    padding: 25px;
}
.information .offer{
    border: 2px black solid;
}
.information .offer p{
    font-family: "Pacifico";
    font-size: 25px;
    padding: 25px;
}
/* приветствие при загрузке */
.hi{
    position: fixed;
    top: 30%;
}
.hi{
    animation: hi 17s linear 2s 1 alternate;
    opacity: 0;
}
h1{ 
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}
/*конец приветствие при загрузке */

@media screen and (max-width: 465px){ 
    .box .container{
        flex-direction: column;
     }
     .photo{
         width: 100%;
     }
     .about_me{
         padding: 15px;
     }
    .about_me{
        flex-direction: column;
    }
    .about_me .study{
        margin-bottom: 15px;
    }
    .about_me .study, .about_me .offer{
        width: 100%;
    }
}  
@media screen and (max-width: 576px){
    /* .wrapper{
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    } */
    .burger{
        display: block;
    }
    nav #navbar{
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #776fe2c2;
        padding: 70px 20px;
        min-width: 300px;
        align-items: flex-start;
        flex-direction: column;
        left: 100%;
      } 
      nav #navbar li{
        height: 30px;
        text-align: left;
        margin-top: 20px;
      }
      nav #navbar ul li{
        margin-top: 5px;
      }
    header{
        background: red;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center; 
      }
      /* #navbar li:hover .hidden{ 
        left: 100px;
      } */
      .hidden{
        left: 100px;
        height: 120px;
        padding-bottom: 0;
      }
}
@media screen and ((min-width: 361px) and (max-width: 576px)){
    .box .container{
       flex-direction: column;
    }
    .photo{
        width: 100%;
    }
    .about_me{
        padding: 15px;
    }
}
@media screen and ((min-width: 577px) and (max-width: 768px)){
    .about_me{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .information .study{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .information .offer{
        width: 100%;
    }
    .name1{
        display: block;
     }
    .name2{
       display: none;
    }
    .information{
        width: 60%;
    }
    .photo{
        /* width: 220px; */
        width: 40%;
    }
}
@media screen and ((min-width: 769px) and (max-width: 1200px)){
    .information{
        width: 70%;
    }
    .photo{
        width: 30%
    }
    .about_me{
        width: 95%;
    }
    .information .study{
        width: 60%;
        text-align: center;
        margin-bottom: 20px;
    }
    .information .offer{
        width: 40%;
    }
} 
@media screen and (min-width: 1200px){
    .information{
        width: 70%;
    }
    .photo{
        width: 30%
    }
    .about_me{
        width: 95%;
    }
    .information .study{
        width: 60%;
        text-align: center;
        margin-bottom: 20px;
    }
    .information .offer{
        width: 40%;
    }
} 

/* любимые фильмы на flex*/
.box_big_flex{
    background: rgb(68, 65, 65);
    margin-bottom: 50px;
    padding: 5px 25px 15px 25px;
}
.box_border{
    display: flex;
    border: 0;
}
.box_big_flex .box_middle{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(240, 166, 213); 
    border-radius: 3%;
}
.box_big_flex .box_small{
    display: flex;
}
.box_big_flex .box_middle:nth-child(odd){
    margin: 10px 5px 10px 10px;
}
.box_big_flex .box_middle:nth-child(even){
    margin: 10px 10px 10px 5px;
}

.box_big_flex .box_middle h2{
    font-size: 25px;
    text-align: center;
    margin: 15px 0;
    color: white;
}
.item1, .item2, .item3, .item4{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(240, 166, 213); 
    border-radius: 3%;
    background: rgb(97, 9, 104)
}

.box_big_flex .item1:nth-child(odd){
    margin: 0 5px 10px 10px
}
.box_big_flex .item2:nth-child(even){
    margin: 0 10px 10px 5px
}
.box_big_flex .item3:nth-child(odd){
    margin: 0 5px 10px 10px
}
.box_big_flex .item4:nth-child(even){
    margin: 0 10px 10px 5px
}
.box_big_flex .img{
    margin-bottom: 15px;
}
.box_big_flex .item1 .img{
    padding: 20%;
    background: url(../images/film1.webp) center center/contain no-repeat;
}
.box_big_flex .item2 .img{
    padding: 20%;
    background: url(../images/film2.webp) center center/contain no-repeat;
}
.box_big_flex .item3 .img{
    padding: 20%;
    background: url(../images/film3.webp) center center/contain no-repeat;
}
.box_big_flex .item4 .img{
    padding: 20%;
    background: url(../images/film4.webp) center center/contain no-repeat;
}
.box_big_flex .text{
    padding: 5px;
    color: white;
}
@media screen and (max-width: 360px){
    .box_small{
        flex-direction: column;
        grid-auto-rows: minmax(100px,auto);
    }
    .box_big_flex .box_middle{
        border: 0;
    }
    .box_border{
        flex-direction: column;
        border: 1px solid rgb(240, 166, 213); 
        border-radius: 3%;
    }
    .box_big_flex .box_middle:nth-child(2) h2{
        display: none;
    }
    .box_big_flex .content .img{
        padding: 50%;
    }
    
}
@media screen and ((min-width: 361px) and (max-width: 576px)){
    .box_small{
        flex-direction: column;

    }
    .box_big_flex .box_middle{
        border: 0;
    }
    .box_border{
        flex-direction: column;
        border: 1px solid rgb(240, 166, 213); 
        border-radius: 3%;
    }
    .box_big_flex .box_middle:nth-child(2) h2{
        display: none;
    }
    .box_big_flex .content .img{
        padding: 50%;
    }
}
@media screen and ((min-width: 577px) and (max-width: 768px)){
   .box_small{
        flex-direction: column;
    }
    .box_big_flex .box_middle{
        border: 0;
    }
    .box_border{
        flex-direction: column;
        border: 1px solid rgb(240, 166, 213); 
        border-radius: 3%;
    }
    .box_big_flex .box_middle:nth-child(2) h2{
        display: none;
    }
    .box_big_flex .content .img{
        padding: 30%;
    }
}
@media screen and ((min-width: 769px) and (max-width: 1200px)){
    .box_big_flex{
        background: rgb(68, 65, 65);
        margin-bottom: 50px;
        padding: 20px 25px 15px 25px;
    }
    .box_big_flex .box_middle{
        border: 0;
    }
    .box_big_flex .content .img{
        padding: 40%;
    }
   .box_border{ 
        flex-wrap: wrap;
        border: 1px solid rgb(240, 166, 213); 
        border-radius: 3%;
    }
    .box_big_flex .box_middle:nth-child(2) h2{
        display: none;
    }
    .box_big_flex .box_border .box_middle{
        margin: 0;
    }
   
}  
@media screen and (min-width: 1200px){
    .box_big_flex .content .img{
        padding: 50%;
    }
}

/* любимые фильмы на grid */
.container_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px; 
    background: rgb(68, 65, 65);
    padding: 10px 30px 0 30px;

}

.box_big{
    border: 1px solid rgb(240, 166, 213);
    border-radius: 10px;
}
.container_grid .box_small{
    margin-bottom: 10px;
}
.container_grid .box_small h2{
    text-align: center;
    color:white;
}
.item_grid1,.item_grid2,.item_grid3,.item_grid4{
    text-align: center;
    border: 1px solid rgb(240, 166, 213); 
    border-radius: 10px;
    padding: 20px;
    background: rgb(97, 9, 104);
} 
.container_grid .item_grid1 .img,
.container_grid .item_grid2 .img,
.container_grid .item_grid3 .img,
.container_grid .item_grid4 .img{
    margin-bottom: 15px;
    height: 160px;
}
.container_grid .item_grid1 .img{
    height: 300px;
    background: url(../images/film1.webp) center center/contain no-repeat;
}
.container_grid .item_grid2 .img{
    height: 300px;
    background: url(../images/film2.webp) center center/contain no-repeat;
}
.container_grid .item_grid3 .img{
    height: 300px;
    background: url(../images/film3.webp) center center/contain no-repeat;
}
.container_grid .item_grid4 .img{
    height: 300px;
    background: url(../images/film4.webp) center center/contain no-repeat;
}
.container_grid .text{
    padding: 10px;
    color:white;
    line-height: 25px;
} 

@media screen and (max-width: 361px){
    h1{
        font-size: 30px;
        line-height: 40px;
    }
    .container_grid{
        grid-template-columns: 1fr;
    }
    .container_grid .box_big{
        grid-auto-rows: minmax(100px,auto);
    }
    .container_grid .box_big:nth-child(2) h2{
        display: none;
    }
    .container_grid .box_big{
        border: 0;
    }
}
@media screen and ((min-width: 361px) and (max-width: 576px)){
    h1{
        font-size: 50px;
        line-height: 60px;
    }
    .container_grid{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(100px,auto);
        /* height: 3100px; */
    }
    .box_big{
        grid-auto-rows: minmax(100px,auto);
    }
    .container_grid .box_big:nth-child(2) h2{
        display: none;
    }
    .container_grid .box_big{
        border: 0;
    }
    .container_grid .box_small{
        padding-bottom: 0;
    }
    .container_grid .box_border{
        border: 1px solid rgb(240, 166, 213); 
        border-radius: 3%;
    }
}
@media screen and ((min-width: 577px) and (max-width: 768px)){
    h1{
        font-size: 60px;
        line-height: 70px;
    }
    .container_grid{
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px,auto);
        /* height: 2350px; */
    }
    .box_border{
        border: 1px solid rgb(240, 166, 213);
        border-radius: 10px;
    }
    .box_big{
        border: 0;
    }
    .container_grid .box_big:nth-child(2) h2{
        display: none;
    }

}
@media screen and ((min-width: 769px) and (max-width: 1200px)){
    .container_grid{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows:  minmax(100px,auto);
    }
    .container_grid .box_big{
        grid-auto-rows: minmax(100px,auto);
        /* height: 1490px; */
    }
    .container_grid .box_big:nth-child(2) h2{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .box_small{
        padding: 0;
    }
}

